:host {
  display: block;
  height: 40px;
  background-color: #F5F5F5;
}

paper-tabs {
  display: inline-flex;
  height: 100%;
}

paper-tabs::shadow #selectionBar {
  background-color: #58666F;
}

paper-tab  {
  padding: 0 5px 0 10px;
  color: #58666F;
}

paper-tab .close {
  margin-left: 26px;
  height: 18px;
  right: 0
}

paper-tab.iron-selected {
  font-weight: 600;
}

.divider {
  display: inline-block;
  background-color: #C6CACD;
  width: 2px;
  vertical-align: middle;
  height: 45%;
  margin-left: 35px;
}

.new-tab {
  color: #596774;
  margin-left: -2px;
  padding-left: 3px;
  font-size: 13px;
  font-weight: 600;
}

.new-tab iron-icon {
  vertical-align: bottom;
  height: 15px;
  color: #586671;
}

.title {
  vertical-align: middle;
}

.favicon {
  margin-right: 5px;
  --iron-icon-height: 18px;
  --iron-icon-width: 18px;
}